* {
    margin: 0px;
    padding: 0px2;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#nav {
    background-color: #FCAF02;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 30px;
}

nav>h1 {
    color: #000;
    font-size: 32px;
    font-weight: 700;
}

nav>div>a {
    color: #000;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    padding-inline: 20px;
}

#aboutUs {
    display: flex;
    width: 95vw;
    margin: auto;
    justify-content: space-between;
    padding-top: 100px;
}

#jeff {
    width: 697px;
    height: 482px;
}

#para {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#para>h1 {

    font-size: 64px;
    font-weight: 700;
}

#para>p {

    font-size: 38px;
    font-weight: 400;
}

#login {
    border-radius: 500px;
    background: #FCAF02;
    width: 323px;
    height: 66px;
    flex-shrink: 0;
    margin-left: 60px;
    margin-top: 50px;
    border: none;
    color: #000;
    font-size: 32px;
    font-weight: 700;
}
#form{
    margin-top: 100px;
}

#form>h1 {
    color: #FCAF02;
    font-size: 64px;
    font-weight: 700;
}

#form>form{
    flex-direction: column;
    align-items: center;

}

















.form>button{
    border-radius: 500px;
    background: #FCAF02;
    width: 325px;
    height: 82px;
    flex-shrink: 0;
    margin-left: 60px;
    margin-top: 100px;
    border: none;
    color: #000;
    font-size: 32px;
    font-weight: 700;

}